@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&family=Space+Grotesk:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased selection:bg-primary selection:text-white;
  }
  section {
    scroll-margin-top: 100px;
  }
}

@layer utilities {
  .bg-grid {
    background-image: theme('backgroundImage.grid-pattern');
    background-size: theme('backgroundSize.grid');
  }

  .shimmer-btn {
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    animation: shimmer 4s infinite linear;
  }
  .animate-shimmer {
    animation: text-shimmer 2.5s infinite linear;
  }
}

@keyframes text-shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

